> Scrape this Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [13]:
import pandas as pd # library for data analysis
import numpy as np # library to handle data in a vectorized manner

In [18]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

In [46]:
df=dfs[0]
df.rename(columns={'Postcode':'PostalCode'}, inplace=True) #The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
print (df.shape) 
df.head()

(288, 3)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

> Ignore cells with a borough that is Not assigned.

In [47]:
df = df[df.Borough != "Not assigned"]
print (df.shape) 
df.head()

(211, 3)

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

> notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
> These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [48]:
df = df.groupby('PostalCode').agg({ 'Borough': 'first', 'Neighbourhood':', '.join }).reset_index()
print (df.shape) 
df.head()

(103, 3)

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

> If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [49]:
df[df.Neighbourhood == "Not assigned"]

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

In [50]:
df.loc[df.Neighbourhood == "Not assigned", 'Neighbourhood'] = df.Borough
df[df.Neighbourhood == "Not assigned"] # check if it is still there

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [51]:
df[df.PostalCode == "M7A"] #confirm replacement

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Queen's Park

In [52]:
df.shape

(103, 3)